.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
}

.form,
.field,
.field input {
  width: 100%;
}

.error {
  color: var(--color-secondary);
  padding: var(--v-padding-1) 0;
}

.redirection {
  color: var(--color-primary-faded);
  cursor: pointer;
  margin-top: var(--size-3);
}

.redirection:hover {
  color: var(--color-primary);
}