.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: min(20vh, 15vw) var(--size-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

/* .backdrop::before,
.backdrop::after {
  content: "";
  width: 100%;
  height: min(20vh, 15vw);
  flex-shrink: 0;
} */

@media (max-width: 800px) {
  .backdrop {
    padding-left: 0;
    padding-right: 0;
  }
}