.btn {
  all: unset;
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-2);
  font-family: 'Poppins', sans-serif;
  line-height: var(--line-height-1);
  padding: var(--v-padding-1) var(--h-padding-1);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: border-radius 0.5s;
}

.btn:hover {
  border-radius: 0px;
  /* border-radius: var(--size-1); */
}

.light {
  background-color: var(--color-bg-light);
  color: var(--color-primary);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-bg-light);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-bg-light)
}