.comment {
  display: flex;
  flex-direction: column;
}

.author,
.source {
  padding: 0 var(--h-padding-2);
}

.source {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.body {
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius);
  padding: var(--v-padding-2) var(--h-padding-2);
}

.timestamp {
  font-weight: var(--f-weight-1);
  line-height: var(--line-height-1);
  color: var(--color-primary-faded);
  align-self: flex-end;
  padding: 0 var(--h-padding-2);
  margin-top: 1rem;
}

@media (max-width: 450px) {
  .body {
    padding: var(--v-padding-2) var(--gutter);
    margin: 0 calc(0px - var(--gutter));
    border-radius: 0;
  }

  .author,
  .source,
  .timestamp {
    padding: 0;
  }
}