.comment {
  display: flex;
  flex-direction: column;
  /* word-break: break-all; */
}

.author {
  padding: 0 var(--comment-h-padding);
}

.source {
  align-self: flex-start;
  padding: 0 var(--comment-h-padding);
  margin-bottom: 1rem;
}

.body {
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius);
  padding: var(--comment-v-padding) var(--comment-h-padding);
}

.timestamp {
  font-weight: var(--f-weight-1);
  line-height: var(--line-height-1);
  color: var(--color-primary-faded);
  align-self: flex-end;
  padding: 0 var(--comment-h-padding);
  margin-top: 1rem;
}