.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--color-primary);
  margin-top: 10rem;
  padding: 5rem var(--gutter);
}

.copyright {
  color: var(--color-bg-light);
}