.container,
.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
  width: 100%;
}

.container {
  padding: var(--size-4) var(--gutter);
  padding-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
  width: 100%;
  max-width: 35rem;
}

.field,
.field input {
  width: 100%;
}

/* .error {
  color: var(--color-secondary);
  padding: var(--v-padding-1) 0;
} */

.errors {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.errors li {
  display: flex;
}

.errors li .error {
  color: var(--color-secondary);
}

.errors li .bullet {
  height: var(--size-1);
  width: var(--size-1);
  border-radius: 50%;
  background-color: var(--color-secondary);
  margin: calc((var(--line-height-1) - var(--size-1)) / 2) 0;
  margin-right: calc(2 * var(--size-1));
  flex-grow: 0;
  flex-shrink: 0;
}

.inputError {
  outline: 2px solid var(--color-secondary);
}

.modal {
  width: min(42rem, 100%);
  padding: clamp(4rem, 8vw, 5rem) clamp(2rem, 8vw, 3.5rem);
}

@media (max-width: 600px) {
  .modal {
    width: 100%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}