@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Kaushan Script', cursive;
   font-family: 'Poppins', sans-serif;
*/

:root {
  --color-primary: #00136C;
  --color-primary-faded: #8089B6;
  --color-secondary: #F22B29;
  --color-bg: #F0EFF4;
  --color-bg-light: #FFFFFF;
  --f-size-1: 1rem;
  --f-size-2: 1.5rem;
  --f-size-3: 3rem;
  --f-weight-1: 400;
  --f-weight-2: 500;
  --f-weight-3: 600;
  --max-width: 1920px;
  --size-1: 0.4375rem;
  --size-2: 2.1875rem;
  --button-v-padding: 1.5625rem;
  --line-height: 1.25rem;
  --border-radius: calc(((var(--button-v-padding) * 2) + var(--line-height)) / 2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg);
}

span {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
}

a {
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-2);
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--color-primary);
}

h1 {
  font-family: 'Kaushan Script', cursive;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 10.5vw;
}