@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600&display=swap');
/* font-family: 'Kaushan Script', cursive;
   font-family: 'Poppins', sans-serif;
*/

:root {
  --color-primary: #00136C;
  --color-primary-faded: #8089B6;
  --color-secondary: #F22B29;
  --color-bg: #F0EFF4;
  --color-bg-light: #FFFFFF;
  --f-size-1: 1rem;
  --f-size-2: 1.5rem;
  --f-size-3: 3rem;
  --f-weight-1: 400;
  --f-weight-2: 500;
  --f-weight-3: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span {
  font-family: 'Poppins', sans-serif;
}