@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600&display=swap');

:root {
  --color-primary: #00136C;
  --color-primary-faded: #54609C;
  --color-secondary: #F22B29;
  --color-bg: #F0EFF4;
  --color-bg-light: #FFFFFF;
  --f-size-1: 1rem;
  --f-size-2: 1.5rem;
  --f-size-3: 3rem;
  --f-weight-1: 400;
  --f-weight-2: 500;
  --f-weight-3: 600;
  --max-width: 1920px;
  --gutter: 10.5vw;
  --size-1: 0.4375rem;
  --size-2: 2.1875rem;
  --button-v-padding: 0.45rem;
  --line-height-1: 1.625rem;
  --line-height-2: 2.25rem;
  --border-radius: calc(((var(--button-v-padding) * 2) + var(--line-height-1)) / 2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--color-bg-light);
  background: var(--color-secondary);
}

body {
  background-color: var(--color-bg);
  /* text-rendering: optimizeLegibility; */
  /* font-smooth: always; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html,
body,
#__next {
  height: 100%;
}

span {
  font-family: 'Poppins', sans-serif;
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-2);
  color: var(--color-primary);
}

li {
  list-style-type: none;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-2);
  text-decoration: none;
  color: var(--color-primary);
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: var(--f-size-3);
  font-weight: 400;
  color: var(--color-secondary);
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--f-size-2);
  font-weight: var(--f-weight-3);
  line-height: var(--line-height-2);
  color: var(--color-primary);
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-1);
  line-height: var(--line-height-1);
  color: var(--color-primary-faded);
}

.header {
  align-self: center;
  margin-top: 7.5rem;
}