.logo {
  display: flex;
  align-items: center;
}

.symbol {
  height: 3rem;
  width: 3rem;
  position: relative;
}

.circle {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
}

.dark {
  background-color: var(--color-primary);
}

.light {
  background-color: var(--color-bg-light);
}

.darkText {
  color: var(--color-primary);
}

.lightText {
  color: var(--color-bg-light);
}

.circle.dark:nth-child(2) {
  background-color: var(--color-secondary);
}

.circle:nth-child(1) {
  top: 0;
  left: 0;
}

.circle:nth-child(2) {
  top: 0;
  left: 50%;
}

.circle:nth-child(3) {
  top: 50%;
  left: 0;
}

.circle:nth-child(4) {
  top: 50%;
  left: 50%;
}

.typography {
  font-size: var(--f-size-2);
  font-weight: var(--f-weight-3);
  margin-left: 0.75rem;
}

/* @media (max-width: 520px) {
  .logo {
    flex-direction: column;
    align-items: center;
  }

  .typography {
    margin: 0.75rem 0 0 0;
  }
} */