.modal {
  width: min(42rem, 100%);
  padding: clamp(4rem, 8vw, 5rem) clamp(2rem, 8vw, 3.5rem);
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
  cursor: auto;
}

@media (max-width: 600px) {
  .modal {
    width: 100%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}