.pages {
  display: flex;
  justify-content: space-between;
  gap: min(7.5rem, 6.25vw);
}

.pages li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bullet {
  height: var(--size-1);
  width: var(--size-1);
  border-radius: 50%;
  position: absolute;
  left: calc(0px - (var(--size-1) * 2));
}

.unhovered {
  visibility: hidden;
  background-color: transparent;
  transition: visibility 0.5s, background-color 0.5s;
}

.hovered {
  visibility: visible;
  background-color: var(--color-primary);
  transition: background-color 0.5s;
}

.active {
  visibility: visible;
  background-color: var(--color-secondary);
  transition: background-color 0.5s;
}