.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
}

.error {
  color: var(--color-secondary);
  padding: var(--v-padding-1) 0;
}

.field,
.field input,
.textarea {
  width: 100%;
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.type {
  padding: var(--h-padding-1) var(--h-padding-1);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-light);
  color: var(--color-primary-faded);
  cursor: pointer;
}

.selectedType {
  color: var(--color-primary);
}

.typeIcon {
  display: block;
  height: var(--line-height-1);
  width: auto;
}

.typeInfo {
  margin-top: 1rem;
}

.field input[type="file"] {
  display: none;
}