.container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--gutter);
}

.top {
  max-width: 1000px;
  width: 100%;
  align-self: center;
  margin-top: 7.5rem;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: var(--size-2);
  margin-top: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 5rem calc(var(--gutter) - var(--size-2));
}