.container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--gutter);
  padding-top: var(--size-4);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: var(--size-4) calc(var(--gutter) - var(--size-2));
}

.top {
  max-width: 1000px;
  width: 100%;
  align-self: center;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: var(--size-2);
  margin-top: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.modal {
  width: 100%;
}

@media (max-width: 1200px) {
  .bottom {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 5rem;
  }

  .comments {
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .modalContainer {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}