.toggle {
  position: relative;
  display: flex;
  align-items: center;
}

.clickableArea {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2 * var(--h-padding-1));
  height: calc(100% + 2 * var(--v-padding-1));
}

.chevron {
  margin-left: 0.6rem;
}

.chevron .imageWrapper {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}

.selected {
  color: var(--color-primary);
}