.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .textarea {
  width: 100%;
  padding: var(--v-padding-2) var(--h-padding-2);
}

.formFocused {
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius);
  padding-bottom: 1.25rem;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}