.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--gutter);
  margin-top: var(--size-3);
}

.timeframe {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.avatar {
  cursor: pointer;
}

.ranking {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  margin-top: var(--size-3);
}

.ranking li {
  display: flex;
  align-items: center;
}

.data {
  margin-left: var(--size-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.data h2 {
  cursor: pointer;
}

.position {
  position: absolute;
  right: calc(100% + var(--size-4));
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-1);
  color: var(--color-primary-faded);
}

@media (max-width: 899px) {
  .timeframe {
    align-self: center;
  }
}

@media (max-width: 500px) {
  .timeframe {
    margin-bottom: 2.5rem;
  }
  
  .ranking {
    align-items: center;
    /* width: 100%; */
  }

  .ranking li {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .data {
    align-items: center;
    margin-left: 0;
    margin-top: 1.25rem;
  }

  .position {
    /* position: static;
    align-self: flex-start; */
    left: 0;
    bottom: 100%;
  }

  /* .avatar {
    margin-top: 1.25rem;;
  } */
}