.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--gutter);
  margin-top: var(--size-3);
}

.timeframe {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.avatar {
  cursor: pointer;
}

.ranking {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  margin-top: var(--size-3);
}

.ranking li {
  display: flex;
  align-items: center;
}

.data {
  margin-left: var(--size-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.data h2 {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20rem;
}

.position {
  position: absolute;
  right: calc(100% + min(var(--size-4), 10vw));
  font-size: var(--f-size-1);
  font-weight: var(--f-weight-1);
  color: var(--color-primary-faded);
}

@media (max-width: 999px) {
  .timeframe {
    align-self: center;
    margin-bottom: 2.5rem;
  }
  
  .ranking {
    align-items: center;
  }

  .ranking li {
    flex-direction: column;
    position: relative;
  }

  .data {
    align-items: center;
    margin-left: 0;
    margin-top: 1.25rem;
  }

  .data h2 {
    white-space: normal;
    overflow: visible;
    overflow-wrap: anywhere;
    text-align: center;
  }

  .position {
    left: 0;
    bottom: 100%;
  }
}